# ======================================================
# Python
# ======================================================

__pycache__/
*.py[cod]
*$py.class

# ======================================================
# Virtual Environment
# ======================================================

env/
venv/
.venv/

# ======================================================
# Jupyter
# ======================================================

.ipynb_checkpoints/

# ======================================================
# IDE
# ======================================================

.vscode/
.idea/

# ======================================================
# Operating System
# ======================================================

.DS_Store
Thumbs.db
desktop.ini

# ======================================================
# Logs
# ======================================================

logs/
*.log

# ======================================================
# Model Outputs
# ======================================================

outputs/predictions/
outputs/metrics/
outputs/visualizations/
outputs/tmp/
outputs/cache/

# ======================================================
# Training Checkpoints
# ======================================================

outputs/checkpoints/*.pth
!outputs/checkpoints/best_physics_unet_hybrid.pth

# ======================================================
# Dataset
# ======================================================

# Ignore processed dataset (8 GB)
data/processed/

# Keep raw dataset (~130 MB)
!data/raw/

# ======================================================
# Temporary Files
# ======================================================

*.tmp
*.temp

# ======================================================
# TensorBoard
# ======================================================

runs/

# ======================================================
# Cache
# ======================================================

.cache/

# ======================================================
# Miscellaneous
# ======================================================

*.bak
*.swp